<div style="width: 40vh;margin-top: 4vh;">

  <form [formGroup]="contactForm" (ngSubmit)="save()">


    <div   style="display: flex;flex-direction: column;justify-content: space-between;">
      <div class="rowContactField">
        <label> Nom complet</label>
        <mat-form-field appearance="fill" >
        <input matInput type="text" formControlName="fullname" />
        </mat-form-field>
      </div>
    </div>
    <div class="rowContactField">
      <label>Pseudo</label>
      <mat-form-field appearance="fill" >
      <input matInput type="text" formControlName="username" />
      </mat-form-field>
    </div>
    <div class="rowContactField">
      <label>Email</label>
      <mat-form-field appearance="fill"  >
      <input matInput type="email" formControlName="email" />
      </mat-form-field>
    </div>


    <button mat-raised-button  type="submit" [disabled]="!contactForm.valid">Ajouter</button>

  </form>

</div>
