.plainCard {
  border-radius: 0px;
}

.halfTopCard{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.halfBottomCard{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.onEdit{
  background-color: purple;
  color: white;
}
