<div>
  <h1 style="color: white;background-color: gray;padding: 4px;">
    Liste de contacts
  </h1>
  <div style="display: flex;">

    <div style="margin-left: 8px;">
      <ContactList [contacts]="contacts" (editorEvent)="edit($event)"></ContactList>
      <FormContact (saveEvent)="saveContact($event)"></FormContact>
    </div>
    <div>
      <ContactEditor (validationEditorChange)="updateContact($event)" [contact]="contactEdition" [index]="indexEdition">
      </ContactEditor>
    </div>

  </div>
</div>
